<% cache 'homepage_client_listing' do %>
  <section class="bg-primary" id="homepage-clients">
    <div class="container" style='margin-bottom:30px;'>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h1 class="section-heading wow fadeInDown" style='letter-spacing:2px;font-size:40px;line-height:1.2;color:#696969;'>Hundred Of Companies Trust Hikido</h1>
          <br>
          <hr id="homepage-hr">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:100px;height:47px;'>
          <center>
            <div class='wow bounceIn'>              
              <img id='airbnb' src=<%= image_url('airbnb.png') %>>              
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:100px;height:47px;'>
          <center>
            <div class='wow bounceIn'>              
              <img id='netflix' src=<%= image_url('netflix.png') %>>              
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:100px;height:47px;'>
          <center>
            <div class='wow bounceIn'>
              <img id='toptechventures' style='margin-top: 10px;' src=<%= image_url('telnyx.png') %>>
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:100px;height:47px;'>
          <center>
            <div class='wow bounceIn'>
              <img id='hirewell' src=<%= image_url('hirewell.png') %>>
            </div>
          </center>
        </div>
       <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:100px;height:47px;'>
          <center>
            <div class='wow bounceIn'>
              <img id='mixrank' src=<%= image_url('mixrank.png') %>>
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:100px;height:47px;'>
          <center>
            <div class='wow bounceIn'>
              <img id='neohire' src=<%= image_url('neohire.png') %>>
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:100px;height:47px;'>
          <center>
            <div class='wow bounceIn'>
              <img id='qconnects' src=<%= image_url('qconnects.png') %>>
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:100px;height:47px;'>
          <center>
            <div class='wow bounceIn'>
              <img id='spiceworks' src=<%= image_url('spiceworks.png') %>>
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:100px;height:47px;'>
          <center>
            <div class='wow bounceIn'>
              <img id='spiceworks' src=<%= image_url('keshav.png') %>>
            </div>
          </center>
        </div>
      </div>
    </div>

  </section>
<% end %>