<% cache 'homepage_competitors_section' do %>
  <section class="bg-primary" id="homepage-competitors">
    <div class="container" style='margin-bottom:30px;'>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h1 class="section-heading wow fadeInDown" style='letter-spacing:2px;font-size:40px;line-height:1.2;'>More Github User Emails Than</h1>
          <br>
          <hr id="homepage-hr-light">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:25px;height:47px;'>
          <div class='competitors-list-item wow bounceIn connectifier' id='connectifier'>
            <strong style='color:white;font-family:"HelveticaNeue-Bold";font-size:32px;font-weight:bold;'>Connect</strong><span style='font-size:32px;font-weight:300;letter-spacing:-0.9px;color:white;opacity:0.7;'>ifier</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:25px;height:47px;'>
          <center>
            <div class='competitors-list-item wow bounceIn'>              
              <img id='talentrover' src=<%= image_url('talentrover.png') %>>              
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:25px;height:47px;'>
          <center>
            <div class='competitors-list-item wow bounceIn'>
              <img id='talentbin' style='margin-top: 10px;' src=<%= image_url('talentbin.png') %>>
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:25px;height:47px;'>
          <center>
            <div class='competitors-list-item wow bounceIn'>
              <img id='entelo' src=<%= image_url('entelo.png') %>>
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:25px;height:47px;'>
          <center>
            <div class='competitors-list-item wow bounceIn'>
              <img id='dice' src=<%= image_url('dice.png') %>>
            </div>
          </center>
        </div>
        <div class="col-lg-4 col-md-6 text-center" style='margin-bottom:25px;height:47px;'>
          <center>
            <div class='competitors-list-item wow bounceIn'>
              <img id='3sourcing' src=<%= image_url('3sourcing.png') %>>
            </div>
          </center>
        </div>
      </div>
    </div>

  </section>
<% end %>